<div class="row">
  <div class="col s12 m6 l3" *ngFor="let post of wall.posts">
    <div class="card teal lighten-4">
      <div class="card-content">
        <span class="card-title grey-text text-darken-2">{{post.creator?.username}}</span>
        <p>{{ post.message }}</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="this.wall != null" materialize="FloatingActionButton" class="fixed-action-btn">
  <a class="btn-floating btn-large teal darken-1">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li>
      <a class="btn-floating teal modal-trigger" href="#modal1"><i class="material-icons">textsms</i></a>
    </li>
    <li>
      <a class="btn-floating teal"><i class="material-icons">add_photo_alternate</i></a>
    </li>
  </ul>
</div>

<!-- Modal Structure -->
<div materialize="Modal" id="modal1" class="modal bottom-sheet right">
  <div class="modal-content">
    <div class="row">
      <div class="col s6">
        <h5>Bericht plaatsen</h5>
      </div>

      <div class="col s6"></div>
      <div class="col s6"></div>
      <div class="input-field col s6">
        <input id="last_name" type="text" class="validate" [(ngModel)]="this.message" />
        <label for="last_name">Bericht...</label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a (click)="this.postMessage()" class="modal-close waves-effect waves-green btn">Plaatsen</a>
  </div>
</div>
