<nav>
  <div class="nav-wrapper teal lighten-2">
    <a href="#" class="brand-logo"> </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li *ngIf="this.dataService.getUserId() != null"><a (click)="logout()"><i class="material-icons">exit_to_app</i></a></li>
    </ul>
  </div>
</nav>

<ul *ngIf="this.dataService.getSessionId() != null" id="slide-out" class="sidenav sidenav-fixed">
  <li>
    <div class="user-view">
      <div class="background">
        <img class="image" src="" />
      </div>
    </div>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <a *ngFor="let wall of this.user.subscribedWalls" (click)="openWall(wall)">{{ wall.name }}</a>
  </li>
</ul>
<a *ngIf="this.dataService.getSessionId() != null" href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
