/* You can add global styles to this file, and also import other style files */

.btn,
.btn-large,
.btn-small,
.btn-flat {
    border-radius: 4px;
    font-weight: 500;
}

.card:hover {
    box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.18);
}

.card {
    border-radius: 15px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.15);
}
.collection {
    border-radius: 15px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.15);
}
