<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Inloggen</span>
          <div class="row">
            <div class="input-field col s6">
              <input id="username" type="text" class="validate" [(ngModel)]="this.username" />
              <label for="username">Username</label>
            </div>

            <div class="input-field col s6">
              <input id="password" type="password" class="validate" [(ngModel)]="this.password" />
              <label for="password">Password</label>
            </div>
          </div>
        </div>
        <div class="card-action">
          <a class="btn" (click)="this.loginUser(this.username, this.password)">Login</a>
          <a class="btn" (click)="this.registerUser(this.username, this.password)">Register</a>
        </div>
      </div>
    </div>
  </div>
</div>
