<app-navbar></app-navbar>
<main *ngIf="this.dataService.getSessionId() != null">
  <router-outlet></router-outlet>
</main>
<main *ngIf="this.dataService.getSessionId() == null" style="padding-left: 0px">
  <router-outlet></router-outlet>
</main>
